---
layout: default
title: shop
---

<div class="wrap">
	
	{% include subnav.html %}
	
	<section id="shop">
		<ul class="thumbs">
			<li><a href="/product/"><img alt="" src="http://placehold.it/480x480/CCCCCC/000000.png" /><span>Product Name<br/>&euro;123</span></a></li>
			<li><a href="/product/"><img alt="" src="http://placehold.it/480x480/CCCCCC/000000.png" /><span>Product Name<br/>&euro;123</span></a></li>
			<li><a href="/product/"><img alt="" src="http://placehold.it/480x480/CCCCCC/000000.png" /><span>Product Name<br/>&euro;123</span></a></li>
			<li><a href="/product/"><img alt="" src="http://placehold.it/480x480/CCCCCC/000000.png" /><span>Product Name<br/>&euro;123</span></a></li>
			<li><a href="/product/"><img alt="" src="http://placehold.it/480x480/CCCCCC/000000.png" /><span>Product Name<br/>&euro;123</span></a></li>
			<li><a href="/product/"><img alt="" src="http://placehold.it/480x480/CCCCCC/000000.png" /><span>Product Name<br/>&euro;123</span></a></li>
			<li><a href="/product/"><img alt="" src="http://placehold.it/480x480/CCCCCC/000000.png" /><span>Product Name<br/>&euro;123</span></a></li>
			<li><a href="/product/"><img alt="" src="http://placehold.it/480x480/CCCCCC/000000.png" /><span>Product Name<br/>&euro;123</span></a></li>
			<li><a href="/product/"><img alt="" src="http://placehold.it/480x480/CCCCCC/000000.png" /><span>Product Name<br/>&euro;123</span></a></li>
		</ul>
	</section>

	{% include about.html %}
</div>