// Product

#product {
	@include outer-container;
}

.product-info {
	@include span-columns(4);
	position: fixed;
	@include media($tablet) {
		@include span-columns(12);
		position: relative;
		padding: em(90) 0 0 0;
		margin-bottom: -150px;
	}
	h1 {
		display: inline-block;
		position: relative;
		font-weight: normal;
		font-size: em(15);
		padding: 22px 0;
		&:after {
			content: " ";
			display: block;
			height: 1px;
			margin-top: 0;
			position: relative;
			width: auto;
			background: black;
		}
	}
	p {
		font-size: em(15.4);
		line-height: em(26);
	}

	.backtotop {

	}
}

.top {
	display: block;
	float: left;
	#info, #addtocart {
		display: inline-block;
		position: relative;
		padding: em(14) 0;
		font-size: em(15);
		line-height: em(20);
		width: em(48);
		text-indent: -9999px;
		background: black -88px -94px no-repeat;
		background-image: url('../img/sprite.png');
		background-image: url('../img/sprite.svg'), none;
		float: left;
		margin-right: 1px;
		color: #fff;
		@include transition(all .15s $ease-in-out-quart);
		&:hover {
			opacity: .8;
		}
		&:active {
			background-color: $tan;
		}
	}
	#addtocart {
		width: em(180);
		background-position: -88px -50px;
		text-indent: em(48);
	}
}
.bottom {
	display: block;
	float: left;
	clear: both;
	overflow: hidden;
	height: em(210);
	margin-top: 1px;
	ul {
		width: em(229);
		background: black;
		position: relative;
		color: #fff;
		text-align: center;
		padding: em(20) 0;
		font-size: em(15);
		margin-top: -210px;
		@include transition(all .2s $ease-in-out-quart);
		&.active {
			margin-top: 0px;
		}
		& > li {
			font-size: em(15.4);
			line-height: em(26);
		}
		.dryclean, .ireland {
			display: block;
			position: absolute;
			width: 50%;
			left: 0;
			margin-top: em(20);
			background: black;
			margin-bottom: em(20);
			height: em(96);
			text-align: center;
			border-top: 1px solid #fff;
			font-size: em(14);
			line-height: em(19);
			border-right: 1px solid #fff;
			span {
				display: block;
				margin: 0 auto;
				width: 48px;
				height: 44px;
				margin-bottom: -5px;
				background: black -88px -138px no-repeat;
				background-image: url('../img/sprite.png');
				background-image: url('../img/sprite.svg'), none;
			}
		}
		.ireland {
			span { 
				background-position: -88px -182px;
			}
			right: 0;
			left: inherit;
			border-right: none;
		}
	}
}

.product-images {
	
}