// About

#about {
	position: absolute;
	background: black;
	color: white;
	width: 100%;
	left: 0;
	padding: em(120) em(20);
	overflow: hidden;
	@include media($m-desktop) {
		padding-top: em(50);
	}
	& > div {
		@include outer-container;
	}

	.info {
		@include span-columns(5);
		@include shift(1);
		@include media($tablet) {
			@include span-columns(8);
			@include shift(0);
		}
		@include media($phone) {
			@include span-columns(11);
			padding: 0 20px;
		}
	}

	.social { 
		@include span-columns(11);
		@include shift(1);
		@include media($tablet) {
			@include shift(0);
		}
		@include media($phone) {
			padding: 0 20px;
		}
		li { 
			display: inline-block;
			width: em(18);
			height: em(18);
			text-indent: em(-9999);
			margin-right: em(7);
			background: transparent -70px 0 no-repeat;
			background-image: url('../img/sprite.png');
			background-image: url('../img/sprite.svg'), none;
			@include transition(all .2s $ease-in-out-quart);
			&:hover {
				opacity: .5;
				cursor: pointer;
			}
		}
		.tw { background-position: -70px 0px; }
		.fb { background-position: -70px -18px; }
		.ig { background-position: -70px -36px; }
		.top {
			background: none;
			display: block;
			text-indent: 0;
			color: #fff;
			width: em(100);
			height: em(20);
			margin: em(20) 0 0 0;
			opacity: 0;
			@include transition(all .75s $ease-in-out-quart .5s);
			&:after { 
				content: "Top";
			}
			&:hover{
				cursor: pointer;
			}
			&.active {
				opacity: 1;
			}
		}

	}

	h3 { 
		font-size: em(15.4);
		font-weight: normal;
		line-height: em(26);
		margin-bottom: em(30);
		&:last-child {
			margin-bottom: em(10);
		}
	}

	a { 
		white-space: nowrap;
		display: inline-block;
	}

}

