// Logo

.logo {
	@include span-columns(2);
	position: fixed;
	right: 0;
	bottom: 5%;
	z-index: 10;
	height: em(380);
	text-indent: -9999px;
	background: transparent center top no-repeat;
	background-image: url('../img/logo.png');
	background-image: url('../img/logo.svg'), none;
	@include transition (all .3s ease);
	@include media($tablet) {
		bottom: 0;
	}

	&.active {
		&:after {
			opacity: 1;
		}	
	}
	&:hover {
		opacity: .5;
	}
	&.hide {
		@include transition (all 1s ease);
		margin-right: -300px;
	}
}

.logo:after {
	@extend .logo;
	content: ' ';
	background-position: center bottom;
	opacity: 0;
}